version: 2
updates:

  - package-ecosystem: "pip" # See documentation for possible values
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/requirements" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "MAINT"
    labels:
      - "maintenance"
      - "dependencies"
      - "dependabot"
    groups:
       actions:
          patterns:
            - "*"
          update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "pyansys-ci-bot"
    labels:
      - "maintenance"
      - "dependencies"
      - "dependabot"
    commit-message:
      prefix: "MAINT"
    groups:
       actions:
          patterns:
            - "*"
          update-types:
          - "minor"
          - "patch"