#PyMechanical
ansys-mechanical-core==0.9.0

# Documentation dependencies
ansys-sphinx-theme==0.9.9
jupyter_sphinx==0.4.0
jupyterlab>=3.2.8
numpy==1.24.3
numpydoc==1.5.0
pandas==2.0.1
panel==1.1.0
plotly==5.14.1
pypandoc==1.11
pythreejs==2.4.2
pyvista==0.39.1
Sphinx==7.0.1
sphinx-copybutton==0.5.1
sphinx-gallery==0.13.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.22
sphinx-notfound-page==0.8.3
sphinxemoji==0.2.0