name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main

env:
  MAIN_PYTHON_VERSION: '3.12'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  packages: read

jobs:

  style:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - name: PyAnsys code style checks
        uses: ansys/actions/code-style@v10
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          use-python-cache: false

  doc-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    steps:
      - name: PyAnsys documentation style checks
        uses: ansys/actions/doc-style@v10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: Documentation building
    runs-on: public-ubuntu-latest-8-cores
    timeout-minutes: 60
    container:
      image: ghcr.io/ansys/mechanical:26.1.0
      options: --entrypoint /bin/bash
    needs: [style, doc-style]

    steps:

      - name: Install Git and checkout project
        uses: actions/checkout@v6

      - name: Set up Python
        shell: bash
        run: |
          apt update
          apt install lsb-release xvfb git curl make -y
          curl -LsSf https://astral.sh/uv/install.sh | sh
          export PATH="$HOME/.local/bin:$PATH"
          uv python install python${{ env.MAIN_PYTHON_VERSION }}
          uv venv /env
      - name: Install Python requirements
        run: |
          . /env/bin/activate
          uv pip install --upgrade pip
          uv pip install -r requirements/requirements_doc.txt

      - name: Build docs
        env:
          SPHINXOPTS: '-j auto'
          LICENSE_SERVER: ${{ secrets.LICENSE_SERVER }}
          ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}
          ANSYS_WORKBENCH_LOGGING_FILTER_LEVEL: 0
        run: |
          . /env/bin/activate
          xvfb-run mechanical-env make -C doc html

      - name: Link check
        env:
          SPHINXOPTS: '-j auto -W --keep-going'
        run: |
          . /env/bin/activate
          xvfb-run mechanical-env make -C doc linkcheck

      - name: Upload HTML Documentation
        uses: actions/upload-artifact@v6
        with:
          name: documentation-html
          path: doc/_build/html
          retention-days: 7

      - name: Upload examples
        uses: actions/upload-artifact@v4
        with:
          name: examples-out
          path: examples/02_technology_showcase
          retention-days: 7

  doc-deploy:
    name: Documentation deploy
    runs-on: ubuntu-latest
    needs: [doc-build]

    steps:

      - name: Checkout
        uses: actions/checkout@v6

      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          name: documentation-html
          path: documentation-html

      - name: List all files
        run: ls -R .

      - name: Deploy to GitHub Pages
        if: contains(github.ref, 'refs/heads/main')
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: documentation-html/
          clean: true
          single-commit: true